<h4>Let's see who is working when</h4>

<div class="card" style="width: 20rem;">
  
  <img class="card-img-top" src="..." alt="Card image cap">
  
  <div class="card-body">
    <h4 class="card-title">Monday</h4>
  </div>

  <ul class="list-group list-group-flush">
    {{#each waiter}}
      {{#each waiter_days}}
        {{#if Monday}}
         <li class="list-group-item">"something"</li>
       {{/if}}
       {{/each}}
    {{/each}}
  </ul>
</div>